{% extends "customer/base.html" %}

{% block title %}
<title>Helpify - Customer Dashboard</title>
{% endblock %}

{% block content %}
<h1>Welcome Customer</h1>

<div class="card m-4">
    <div class="card-header">
        <h3>Service Categories</h3>
    </div>
    <div class="card-body">
        <div class="row">
            {% for cat in categories %}
            <div class="col-2 ">
               <div class="card text-center mb-3">
                    <div class="card-body">
                        <p>{{cat.name}}</p>
                        <button class="btn btn-warning"><a href = "/customer/search?catname={{cat.name}}">Explore</a></button>
                    </div>
               </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="card m-4">
    <div class="card-header">
        <h3>Bookings</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Professional Name</th>
                <th>Plan Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Professional Email</th>
                <th>Plan Price</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{booking.professional.name}}</td>
                <td>{{booking.plan.name}}</td>
                <td>{{booking.date}}</td>
                <td>{{booking.time}}</td>
                <td>{{booking.professional.email}}</td>
                <td>{{booking.plan.price}}</td>
                <td>{{booking.status}}</td>
                <td>
                {% if booking.status == "Requested" %}
                    <button class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#edit-{{booking.id}}">Edit</button>
                    <div class="modal fade" id="edit-{{booking.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            
                            <div class="modal-content">
                                <div class="modal-header">
                                    Edit Booking
                                </div>
                                <div class="modal-body">
                                    <form action="/booking?job=edit&id={{booking.id}}" method="POST">
                                        <div class="form-floating mb-3">
                                            <input type="date" class="form-control" id="floatingInput"
                                                name="book_date" placeholder="Category Name" >
                                            <label for="floatingInput">Date</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="time" class="form-control" id="floatingPassword"
                                                name="book_time" placeholder="Desc" >
                                            <label for="floatingPassword">Time</label>
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% elif booking.status == "Done" %}   
                    <button class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#close-{{booking.id}}">Close</button>
                    <div class="modal fade" id="close-{{booking.id}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            
                            <div class="modal-content">
                                <div class="modal-header">
                                    Close Booking
                                </div>
                                <div class="modal-body">
                                    <form action="/booking?job=close&id={{booking.id}}" method="POST">
                                        
                                        <div class="form-floating mb-3">
                                            <select name="rating" class="form-control" id="floatingPassword">
                                                <option >1</option>
                                                <option >2</option>
                                                <option >3</option>
                                                <option >4</option>
                                                <option >5</option>
                                            </select>
                                            <label for="floatingPassword">Rating</label>
                                        <button type="submit" class="btn btn-primary">Close</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                {% endif %}
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}