{% extends "admin/base.html" %}

{% block title %}
<title>Helpify - Admin Dashboard</title>
{% endblock %}

{% block content %}
    <h1 class="mt-3 ms-3">Welcome Admin</h1>
    <div class="card m-5">
        <div class="card-header">
            <div class="row">
                <h3 class="col-10">Service Category</h3>
                <button class="btn btn-warning col-2 " data-bs-toggle="modal" data-bs-target="#createcategory">Create +
                </button>


                <!-- Modal -->
                <div class="modal fade" id="createcategory" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/dashboard/admin?job=create" method="POST" class="p-3">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="cat_name"
                                            placeholder="Category Name" required>
                                        <label for="floatingInput">Name</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingPassword" name="cat_desc"
                                            placeholder="Desc" required>
                                        <label for="floatingPassword">Descripition</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="number" class="form-control" id="floatingPassword" name="cat_price"
                                            placeholder="1000" required>
                                        <label for="floatingPassword">Base Price</label>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                {% for cat in cats %}
                <div class="col-2">
                    <div class="card text-center mb-3">
                        <div class="card-body">
                            <p>{{cat.name}}</p>
                            <p>{{cat.descripiton}}</p>
                            <p>{{cat.base_price}}</p>
                            <button class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#editcat-{{cat.id}}">Edit</button>
                            <div class="modal fade" id="editcat-{{cat.id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Category</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/dashboard/admin?job=editcat&id={{cat.id}}" method="POST"
                                                class="p-3">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                        name="cat_name" placeholder="Category Name">
                                                    <label for="floatingInput">Name</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingPassword"
                                                        name="cat_desc" placeholder="Desc">
                                                    <label for="floatingPassword">Descripition</label>
                                                </div>
                                                <div class="form-floating">
                                                    <input type="number" class="form-control" id="floatingPassword"
                                                        name="cat_price" placeholder="1000">
                                                    <label for="floatingPassword">Base Price</label>
                                                </div>
                                                <div class="text-center mt-3">
                                                    <button type="submit" class="btn btn-primary">Create</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card m-5 shadow-lg">
        <div class="card-header">
            <h3>Service Professional</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="activeprofessional-tab" data-bs-toggle="pill"
                        data-bs-target="#activeprofessional" type="button" role="tab" aria-controls="activeprofessional"
                        aria-selected="true">Active</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="requestedprofessional-tab" data-bs-toggle="pill"
                        data-bs-target="#requestedprofessional" type="button" role="tab"
                        aria-controls="requestedprofessional" aria-selected="false">Requested</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="flaggedprofessional-tab" data-bs-toggle="pill"
                        data-bs-target="#flaggedprofessional" type="button" role="tab"
                        aria-controls="flaggedprofessional" aria-selected="false">Flagged</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="activeprofessional" role="tabpanel"
                    aria-labelledby="activeprofessional-tab" tabindex="0">
                    {% if active_prof %}
                    <table class="table border">
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                        {% for prof in active_prof %}
                        <tr>
                            <td>{{prof.name}}</td>
                            <td>{{prof.category.name}}</td>
                            <td>{{prof.email}}</td>

                            <td>{{prof.city}}</td>
                            <td>Not present</td>
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#flag-{{prof.id}}">Flag</button>
                                    
                                    <div class="modal fade" id="flag-{{prof.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    Are you sure you want to Flag?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <form action="/dashboard/admin?job=flagprof&id={{prof.id}}" method="POST">

                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <div class="text-center mt-5 ">
                            No Active Professional
                        </div>
                    
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="requestedprofessional" role="tabpanel"
                    aria-labelledby="requestedprofessional-tab" tabindex="0">
                    {% if request_prof %}
                    <div>
                        <table class="table border">
                            <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Email</th>
                                <th>City</th>
                                <th>Rating</th>
                                <th>Action</th>
                            </tr>
                            {% for prof in request_prof %}
                            <tr>
                                <td>{{prof.name}}</td>
                                <td>{{prof.category.name}}</td>
                                <td>{{prof.email}}</td>

                                <td>{{prof.city}}</td>
                                <td>Not present</td>
                                <td>
                                    <button class="btn btn-success" data-bs-toggle="modal"
                                    data-bs-target="#accept-{{prof.id}}">Accept</button>
                                    
                                    <div class="modal fade" id="accept-{{prof.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    Are you sure you want to Accept?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <form action="/dashboard/admin?job=acceptprof&id={{prof.id}}" method="POST">

                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#reject-{{prof.id}}">Reject</button>
                                    <div class="modal fade" id="reject-{{prof.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    Are you sure you want to Reject?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <form action="/dashboard/admin?job=rejectprof&id={{prof.id}}" method="POST">
                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% else %}
                        <div class="text-center mt-5 ">
                            No Requested Professional
                        </div>
                    
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="flaggedprofessional" role="tabpanel"
                    aria-labelledby="flaggedprofessional-tab" tabindex="0">
                    {% if flagged_prof %}
                    <table class="table border">
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Rating</th>
                            <th>Action</th>
                        </tr>
                        {% for prof in flagged_prof %}
                        <tr>
                            <td>{{prof.name}}</td>
                            <td>{{prof.category.name}}</td>
                            <td>{{prof.email}}</td>

                            <td>{{prof.city}}</td>
                            <td>Not present</td>
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#unflag-{{prof.id}}">UnFlag</button>
                                    
                                    <div class="modal fade" id="unflag-{{prof.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    Are you sure you want to UnFlag?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <form action="/dashboard/admin?job=unflagprof&id={{prof.id}}" method="POST">

                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <div class="text-center mt-5 ">
                            No Flagged Professional
                        </div>
                    
                    {% endif %}

                </div>

            </div>
        </div>

    </div>

    <div class="card m-5 shadow-lg">
        <div class="card-header">
            <h3>Customer</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="activecustomer-tab" data-bs-toggle="pill"
                        data-bs-target="#activecustomer" type="button" role="tab" aria-controls="activecustomer"
                        aria-selected="true">Active</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="flaggedcustomer-tab" data-bs-toggle="pill"
                        data-bs-target="#flaggedcustomer" type="button" role="tab"
                        aria-controls="flaggedcustomer" aria-selected="false">Flagged</button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="activecustomer" role="tabpanel"
                    aria-labelledby="activecustomer-tab" tabindex="0">
                    {% if active_cust %}
                    <table class="table border">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>City</th>
                            <th>Action</th>
                        </tr>
                        {% for cust in active_cust %}
                        <tr>
                            <td>{{cust.name}}</td>
                            
                            <td>{{cust.email}}</td>

                            <td>{{cust.city}}</td>
                           
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#flagcust-{{cust.id}}">Flag</button>
                                    
                                    <div class="modal fade" id="flagcust-{{cust.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    Are you sure you want to Flag?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <form action="/dashboard/admin?job=flagcust&id={{cust.id}}" method="POST">

                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <div class="text-center mt-5 ">
                            No Active Customer
                        </div>
                    
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="flaggedcustomer" role="tabpanel"
                    aria-labelledby="flaggedcustomer-tab" tabindex="0">
                    {% if flagged_cust %}
                    <table class="table border">
                        <tr>
                            <th>Name</th>
                            
                            <th>Email</th>
                            <th>City</th>
                           
                            <th>Action</th>
                        </tr>
                        {% for cust in flagged_cust %}
                        <tr>
                            <td>{{cust.name}}</td>
                            
                            <td>{{cust.email}}</td>

                            <td>{{cust.city}}</td>
                            
                            <td>
                                <button class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#unflagcust-{{cust.id}}">UnFlag</button>
                                    
                                    <div class="modal fade" id="unflagcust-{{cust.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body">
                                                    Are you sure you want to UnFlag?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">No</button>
                                                    <form action="/dashboard/admin?job=unflagcust&id={{cust.id}}" method="POST">

                                                        <button type="submit" class="btn btn-primary">Yes</button>
                                                    </form>    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                        <div class="text-center mt-5 ">
                            No Flagged Customer
                        </div>
                    
                    {% endif %}

                </div>

            </div>
        </div>

    </div>

{% endblock %}